@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Regular.woff2') format("woff2"),
   url('../fonts/CeraPro-Regular.woff') format("woff"),
   url('../fonts/CeraPro-Regular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Medium.eot') format("embedded-opentype"),
   url('../fonts/CeraPro-Medium.woff') format("woff"),
   url('../fonts/CeraPro-Medium.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Bold.eot') format("woff2"),
   url('../fonts/CeraPro-Bold.woff') format("woff"),
   url('../fonts/CeraPro-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Black.eot') format("embedded-opentype"),
       url('../fonts/CeraPro-Black.ttf') format("truetype"),
       url('../fonts/CeraPro-Black.woff') format("woff");
  font-weight: 900;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style-type: none;
}

header {
  padding: 30px 120px;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}
nav {
  display: flex;
  gap: 50px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 4px;
  background: #46A358;
  width: 100px;
  height: 35px;
  color: #FFF;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.list-item {
  padding: 8px 25px 25px;
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-item.active {
  padding: 8px 25px 25px;
  display: flex;
  border-bottom: 3px solid #46A358;
  font-weight: 700;
}

.list-item:hover {
  background-color: lightgray;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome{
  display: flex;
  flex-direction: row;
  padding: 80px 160px;
}


.welcome-1 {
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  align-items: start;
}

.welcome-2 {
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 100% */
  text-transform: uppercase;
  max-width: 530px;
}

.welcome-3 {
  color: #727272;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  max-width: 557px;
}

.planet {
  color: #46A358;
  font-family: "Cera Pro";
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

.shop-button {
  border-radius: 6px;
  background: #46A358;
  width: 140px;
  height: 40px;
  color: #FFF;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
  margin-top: 44px;
}

.plant-image {
  margin-left: auto;
  justify-content: flex-end;
}

.sidebar {
  display: flex;
  flex-direction: row;
  padding: 80px 0;
  background-color: #F9F9F9;
  padding: 0 50px 0 120px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
  width: 150%;
  margin-top: 30px;
  margin-bottom: 7px;
}

.category-name {
  color: #3D3D3D;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px;
margin-right: 140px;
margin-left: 10px;
}

.category-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category-count {
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: right;
}

.category-name.active {
  color: #46A358;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
margin-left: 10px;
}
.price-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
  margin-left: 10px;

}

.price {
    color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
}
.price2 {
    color: #46A358;
  font-family: "Cera Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.money-range {
  max-width: 80%;
}

.filter-button {
  border-radius: 6px;
  background: #46A358;
  width: 90px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 45px;
}

.category-count.active {
  color: #46A358;
text-align: right;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
}

.banner-rectangle {
  width: 310px;
  height: 470px;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);
}

.super-sale {
  color: #46A358;
font-family: "Hanging Letters";
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: 65px; /* 100% */
}

.discount {
  color: #3D3D3D;
  text-align: center;
  font-family: "Cera Pro";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 69.565% */
  max-width: 105%;
  text-align: right;
}
.wrapper {
  padding-right: 120px;
}

.shop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 120px 40px 50px;
  gap: 40px;
}

.sorting {
  display: flex;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  margin-right: 120px;
}

.good1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gooditem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px 30px 120px 50px;
}

.gooditem img {
  padding-bottom: 40px;
}

.goodname {
    color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.goodprice {
    color: #46A358;
  font-family: "Cera Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
}
.pages-nav 
{
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}