@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Regular.woff2') format("woff2"),
   url('../fonts/CeraPro-Regular.woff') format("woff"),
   url('../fonts/CeraPro-Regular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Medium.eot') format("embedded-opentype"),
   url('../fonts/CeraPro-Medium.woff') format("woff"),
   url('../fonts/CeraPro-Medium.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Bold.eot') format("woff2"),
   url('../fonts/CeraPro-Bold.woff') format("woff"),
   url('../fonts/CeraPro-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Black.eot') format("embedded-opentype"),
       url('../fonts/CeraPro-Black.ttf') format("truetype"),
       url('../fonts/CeraPro-Black.woff') format("woff");
  font-weight: 900;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style-type: none;
}

header {
  padding: 30px 120px;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}
nav {
  display: flex;
  gap: 50px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 4px;
  background: #46A358;
  width: 100px;
  height: 35px;
  color: #FFF;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.list-item {
  padding: 8px 25px 25px;
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-item.active {
  padding: 8px 25px 25px;
  display: flex;
  border-bottom: 3px solid #46A358;
  font-weight: 700;
}

.list-item:hover {
  background-color: lightgray;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome{
  display: flex;
  flex-direction: row;
  padding: 80px 160px;
}


.welcome-1 {
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  align-items: start;
}

.welcome-2 {
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 100% */
  text-transform: uppercase;
  max-width: 530px;
}

.welcome-3 {
  color: #727272;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  max-width: 557px;
}

.planet {
  color: #46A358;
  font-family: "Cera Pro";
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

.shop-button {
  border-radius: 6px;
  background: #46A358;
  width: 140px;
  height: 40px;
  color: #FFF;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
  margin-top: 44px;
}

.plant-image {
  margin-left: auto;
  justify-content: flex-end;
}

.second-header {
  display: flex;
  margin-left: 120px;
  margin-right: 50px;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.headings {
  color: #3D3D3D;
font-family: "Cera Pro";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 88.889% */
flex-direction: column;
}

.sidebar-list {
  color: #3D3D3D;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px;
margin-right: 137px;
}

.categories-list.active {
  color: #46A358;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
}
.price {
  color: #3D3D3D;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 106.667% */
}
.price2 {
  color: #46A358;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px;
}

.filter-button {
  border-radius: 6px;
  background: #46A358;
  width: 90px;
  height: 35px;
  flex-shrink: 0;
  color: #FFF;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}

.supersale-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #46A358;
  width: 100px;
  height: 100px;
  color: #FFF;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);

}

.category-count.active {
  color: #46A358;
text-align: right;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
}

.category-count {
  color: #3D3D3D;
font-family: "Cera Pro";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px;
flex-direction: row;
}


.sizes {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

