

body {
  background-color: dimgray;
}

.preloader::after {
  position: absolute;
  top: 0;
  bottom: 4%;
  left: 0;
  right: 0;
  content: " ";
  display: block;
  margin: auto;
  height: 32px;
  width: 32px;
  border: solid;
  border-width: 4px;
  border-radius: 50%;
  border-top-color: green;
  border-bottom-color: aqua;
  border-left-color: aqua;
  border-right-color: aqua;
  
  animation: rotating 1.1s linear infinite;
  /* animation-direction: alternate-reverse; */
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}